/* wwwroot/css/register.css */
.container {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0; /* Asegúrate de que no haya margen superior */
}
.title-color {
    color: #BF353D;
    font-size: 1.5em;
    cursor: pointer; 
}
.content {
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-control {
    width: 95%; /* Ajusta el ancho de los inputs */
    height: 2rem; /* Ajusta la altura de los inputs */
    margin-bottom: 10px; /* Espacio entre los inputs */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y la altura */
}
.required-asterisk {
    color: red;
    font-size: 1.5rem; /* Ajusta el tamaño del asterisco para que coincida con la altura del input */
    margin-left: 5px;
}
.input-container {
    display: flex;
    align-items: center;
    width: 95%; /* Ajusta el ancho del contenedor de los inputs */
}
.d-flex {
    display: flex;
    justify-content: space-between;
    margin: 0.5cm 1cm; /* Márgenes de 1 cm a los lados y 0.5 cm en la parte superior e inferior */
}
.flex-column {
    flex: 1;
    margin-right: 10px; /* Espacio entre las columnas */
}
.radio-group {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones de radio */
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}
.radio-group div {
    flex: 1;
    text-align: center; /* Centra el contenido dentro de cada div */
}
.radio-group p {
    flex: 2;
    text-align: center; /* Centra el texto del párrafo */
    margin: 0; /* Elimina el margen del párrafo */
}
.botonConfirmar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;
}
.custom-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: white; /* Color de fondo blanco */
    color: black; /* Color del texto */
    height: 2rem; /* Ajusta la altura de los botones para que coincida con los inputs */
    width: auto; /* Ajusta el ancho de los botones */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y la altura */
    text-align: center; /* Centra el texto dentro del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-button i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
.custom-button:disabled {
    background-color: lightgray; /* Color de fondo gris para el botón deshabilitado */
    color: darkgray; /* Color del texto para el botón deshabilitado */
}
.message {
    color: gray;
    font-size: 0.9rem;
    margin-top: 5px;
}