/* wwwroot/css/tabs.css */
.tabs {
    display: flex;
    gap: 10px;
    align-items: center; 
    justify-content: flex-start; 
    height: 30px;
    border-bottom: 4px solid #BF353D;
    margin-bottom: 10px;
}
.tabs a {
    margin: 0; 
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    color: #949494;
    font-size: 1em;
    text-decoration: none;
}
.tabs a:hover {
    background-color: #d3d3d3;
}
.tabs a.active {
    background: linear-gradient(45deg, #B32730, #9F1B26);
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #BF353D;
}
.tabs a.register-tab {
    background: linear-gradient(45deg, #B32730, #9F1B26);
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #BF353D;
}

